<div class="row">
  <div class="col" >
    <div class="row">
      <div class="col mt-4" *ngFor="let service of services">
        <element-card
          [objService]="service"
          (onCodService)="onCodService($event)"
          (onShowForm)="onShowForm($event)"
          (onDelete)="onDelete()">
        </element-card>
      </div>
    </div>
  </div>
  <div class="col-xl-4 mt-4" *ngIf="showForm">
    <form-service 
      [objService]="objService" 
      [codSector]="codSector"
      (onShowForm)="onShowForm($event)"
      (onShowAlert)="onShowAlert($event)">
    </form-service>
  </div>
</div>